@font-face{
    font-family: Rubik;
    src: url(./fonts/Rubik/Rubik-Regular.ttf)
}
* {
    font-family: 'Rubik';
    margin: 0px;
}
html{
    height: 100%;
    overflow: auto;
}
body{
    height: 90%;
    padding: 30px 200px;
}
.container{
    background-color: #DDDDDD;
    border: 2px solid #C1C1C1;
    height: 100%;
}
.title{
    margin: 2% 0% 2% 13%;
    font-size: 48px;
    color: #161616;
}
.text-edit{
    width: 100%;
    height: 100%;
}
.text-edit button:hover{
    background-color: #AAAAAA;
    border-radius: 3px;
}
.iframe-text-editor{
    margin: auto;
    width: 80%;
    height: 55%;
    border: 2px solid #C1C1C1;
    background-color: #F2F2F2;
}
#principal-iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.over-toolbar{
    display: flex;
    margin: auto;
    width: 80%;
    height: 40px;
    border: 2px solid #C1C1C1;
    background-color: #E5E5E5;
    border-bottom: none;
}
.font-select-div{
    width: 16%;
    height: 100%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
option{
    color: #161616;
}
.font-select{
    border: none;
    background-color: #E5E5E5;
    margin: 4% 0% 0% 10%; 
    width: 80%;
    height: 80%;
    font-size: 18px;
    background: url(./icons/sort-down-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
}
.vertical-line{
    margin-top: 3px;
    height: 85%;
    width: 2px;
    border-radius: 10px;
    background-color: #C1C1C1;
}
.font-style-div{
    width: 18%;
    height: 100%;
}
.icon-bold{
    background: url(./icons/bold-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 6px 10px 20px;
}
.icon-italic{
    background: url(./icons/italic-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.icon-underline{
    background: url(./icons/underline-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.other-style-div{
    width: 18%;
    height: 100%;
}
.icon-paragraph{
    background: url(./icons/paragraph-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 6px 10px 20px;
}
.icon-superscript{
    background: url(./icons/superscript-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.icon-subscript{
    background: url(./icons/subscript-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.align-style-div{
    width: 22%;
    height: 100%;
}
.icon-align-center{
    background: url(./icons/align-center-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 6px 10px 20px;
}
.icon-align-left{
    background: url(./icons/align-left-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.icon-align-right{
    background: url(./icons/align-right-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.icon-justify{
    background: url(./icons/align-justify-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 6px;
}
.list-style-div{
    width: 12%;
    height: 100%;
}
.icon-ordered-list{
    background: url(./icons/list-ol-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 10px 10px 15px;
}
.icon-unordered-list{
    background: url(./icons/list-ul-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 2px 6px;
}
.font-size-select-div{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.font-size-select{
    border:none;
    background-color: #E5E5E5;
    height: 100%;
    font-size: 18px;
    background-size: 10px;
}
.font-size-up-or-down-div{
    display: flex;
    flex-direction: column;
}
.font-size-up-or-down-div button:hover{
    background-color: #E5E5E5;
}
.font-increase{
    width: 22px;
    height: 22px;
    border: none;
    background: url(./icons/sort-down-solid.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    margin: 2px 6px;
    transform: scaleY(-1);
}
.font-decrease{
    width: 22px;
    height: 22px;
    border: none;
    background: url(./icons/sort-down-solid.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    margin: 2px 6px;
}
.under-toolbar{
    display: flex;
    margin: auto;
    width: 80%;
    height: 40px;
    border: 2px solid #C1C1C1;
    background-color: #E5E5E5;
    border-top: none;
}
.undo-and-redo-div{
    width: 12%;
    height: 100%;
}
.icon-undo{
    background: url(./icons/reply-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 10px;
}
.icon-redo{
    background: url(./icons/reply-solid.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
    margin: 10px 10px;
    transform: scaleX(-1);
}
.font-color-div{
    display: flex;
    width: 5%;
    height: 100%;
}
.font-color{
    opacity: 0;
    width: 22px;
    height: 22px;
    margin: 10px 0px 10px 10px;
    border: none;
}
.icon-palette{
    pointer-events: none; 
    width: 22px;
    height: 22px;
    margin: 10px 0px 10px -22px;
}
.image-selector-div{
    display: flex;
    width: 5%;
    height: 100%; 
}
.image-selector{
    opacity: 0;
    width: 24px;
    height: 24px;
    margin: 10px 0px 10px 10px;
    border: none;
}
.icon-image-selector{
    pointer-events: none; 
    width: 24px;
    height: 24px;
    margin: 9px 0px 9px -22px;
}
.submit-div{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;
}
.submit{
    font-size: 16px;
    width: 100px;
    height: 25px;
    margin: 8px 20px 0px 0px;
    background-color: #77FFDD;
    border: 1px solid #62d1b5;
    border-radius: 10px;
    color: #DDDDDD;
}
.submit:hover {
    background-color: #62d1b5 !important;
    border: 1px solid #62d1b5 !important;
    border-radius: 10px !important;
    color: #DDDDDD !important;
}
